<nav class="navbar">
  <table>
    <%= image_tag "logo_insta.jpg", size: '150x80', class:"brand-img" %>
    <input type="text" class="search-box" placeholder="search">
    <%= image_tag "messeg.jpg", size: '60x60', class:"icon" %>
    <%= image_tag "plus.jpg", size: '60x60', class:"icon" %>
    <%= image_tag "explor.jpg", size: '60x60', class:"icon" %>
    <%= image_tag "like.jpg", size: '60x60', class:"icon" %>
    <%= image_tag "acc.jpg", size: '60x60', class:"icon" %>
  </table>
</nav>
<header>
  <table>
    <tr>
      <td><%= image_tag "image1.jpg", size: '1300x300', class: 'fakebook-logo' %></td>
    </tr>
  </table>
</header>
<%= form_with(model: @blog, local: true, url: choose_new_or_edit) do |form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2>Vous devez entrer de caractères</h2>
    </div>
  <% end %>
  <div class="blog_title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="blog_description">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
  <%= form.label :image, "Image" %>
  <br>
  <%= image_tag(@blog.image.url) if @blog.image && @blog.image.url %>
  <%= form.file_field :image %>
  <%= form.hidden_field :image_cache %>
</div>

<br>
  <div class="actions">
    <%= form.submit "Poster le nouveau Blog" %>
  </div>
<% end %>
<%= link_to "Revenir à l'écran de la liste des blogs", blogs_path %>|
