<nav class="navbar">
  <table>
      <%= image_tag "logo_insta.jpg", size: '150x80', class:"brand-img" %>

        <input type="text" class="search-box" placeholder="search">

          <%= image_tag "messeg.jpg", size: '60x60', class:"icon" %>

          <%= image_tag "plus.jpg", size: '60x60', class:"icon" %>

          <%= image_tag "explor.jpg", size: '60x60', class:"icon" %>

        <%= image_tag "like.jpg", size: '60x60', class:"icon" %>

          <%= image_tag "acc.jpg", size: '60x60', class:"icon" %>
  </table>
</nav>
<header>
  <table>
    <tr>
      <td><%= image_tag "image1.jpg", size: '1300x300', class: 'fakebook-logo' %></td>
    </tr>
  </table>
</header>



<main>
  <p id="notice"><%= notice %></p>
  <p>
    <strong>Title:</strong>
    <%= @blog.title %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= @blog.description %>
  </p>
<p class="upload_date"><%= @blog.user.created_at.try(:strftime,"%D") %></p>
  <br>

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Image:</strong>
    <%= image_tag @blog.image.url %>
  </p>

  <p>
    <% unless @blog.user_id == current_user.id %>
    <% if @favorite.present? %>
      <%= link_to 'Défavorisé', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
    <% else %>
      <%= link_to 'Préféré', favorites_path(blog_id: @blog.id), method: :post, class: 'btn btn-primary' %>
    <% end %>
  <% end %>
  </p>

  <td><%= link_to "Modifier le blog", edit_blog_path(@blog), data: { confirm: 'Voulez vous vraiment le modifier？' } %></td>   |

   <td><%= link_to "Supprimer le blog", blog_path(@blog), method: :delete ,data: { confirm: 'Voulez vous vraiment le supprimer？' } %></td>   |
    
  <%= link_to 'Back', blogs_path %>

</main>
